In [1]:
# -*- coding: utf-8 -*-
"""
homework for EDA 1

·         Load data into a dataframe

·         Get column names

·         Get data types

·         Compute percentage of missing data of each column. 
          Which columns have high percentage of missing values

·         Print out first 25 records

·         Check if there are duplicated records. If yes, drop them.

·         Sort the dataframe based on Fiscal Year

·         Convert a string column (Base Salary) to numeric/float
"""

import pandas as pd
#import numpy as np

# load data into a dataframe
payroll_df = pd.read_csv('Citywide_Payroll_Data__Fiscal_Year_.csv',dtype='str')



# get column names
print('The column names are:\n', payroll_df.columns.tolist())



# Convert the 'Fiscal Year' field from a string to an int
payroll_df['Fiscal Year'] = payroll_df['Fiscal Year'].astype('int64')
# Convert the fields 'Regular Hours','OT Hours' from string to float
payroll_df[['Regular Hours','OT Hours']] = payroll_df[['Regular Hours','OT Hours']].astype('float64')

# get data types
print('\nThe data type for each column is:\n', payroll_df.dtypes)


# compute no. of missing data of each column
nan_df = pd.DataFrame(payroll_df.isnull().sum(),columns=['nan'])
# Compute percentage of missing data of each column.
nan_df['pct']=nan_df['nan']*100/len(payroll_df.index)

print('\nThe percentage of missing data of each column is (%):\n', nan_df['pct'])



# Which columns have high percentage of missing values.
flt_data = nan_df[nan_df['pct']>20]
print ('\nThe columns with high percentage (>20%) of missing values are:\n',flt_data)

print('\nThe column with the highest percentage of missing values is: '+ nan_df.idxmax()['pct'])
print('The highest percentage is: {}%'.format((nan_df.max()['pct'])))



# Print out first 25 records
print('\nThe first 25 records are:\n', payroll_df.head(25))



#  Check if there are duplicated records. If yes, drop them.
dropdup_df = payroll_df.drop_duplicates()
print('\nThe shape of original records is: ',payroll_df.shape)
print('The shape with the duplicated dropped is: ', dropdup_df.shape)

The column names are:
 ['Fiscal Year', 'Agency Name', 'Last Name', 'First Name', 'Mid Init', 'Agency Start Date', 'Work Location Borough', 'Title Description', 'Leave Status as of June 30', 'Base Salary', 'Pay Basis', 'Regular Hours', 'Regular Gross Paid', 'OT Hours', 'Total OT Paid', 'Total Other Pay']

The data type for each column is:
 Fiscal Year                     int64
Agency Name                    object
Last Name                      object
First Name                     object
Mid Init                       object
Agency Start Date              object
Work Location Borough          object
Title Description              object
Leave Status as of June 30     object
Base Salary                    object
Pay Basis                      object
Regular Hours                 float64
Regular Gross Paid             object
OT Hours                      float64
Total OT Paid                  object
Total Other Pay                object
dtype: object

The percentage of missing data of each column is (%):
 Fiscal Year                    0.000000
Agency Name                    0.000000
Last Name                      0.042926
First Name                     0.043381
Mid Init                      40.556522
Agency Start Date              0.000000
Work Location Borough         23.067522
Title Description              0.000957
Leave Status as of June 30     0.000000
Base Salary                    0.000000
Pay Basis                      0.000000
Regular Hours                  0.000000
Regular Gross Paid             0.000000
OT Hours                       0.000000
Total OT Paid                  0.000000
Total Other Pay                0.000000
Name: pct, dtype: float64

The columns with high percentage (>20%) of missing values are:
                           nan        pct
Mid Init               890008  40.556522
Work Location Borough  506214  23.067522

The column with the highest percentage of missing values is: Mid Init
The highest percentage is: 40.55652161233053%

The first 25 records are:
     Fiscal Year                     Agency Name     Last Name  First Name  \
0          2016  DISTRICT ATTORNEY-MANHATTAN        ABA'AHMID   RAHASHEEM
1          2016  DISTRICT ATTORNEY-MANHATTAN          ABENSUR    MARGARET
2          2016  DISTRICT ATTORNEY-MANHATTAN        ABOUNAOUM      ANDREA
3          2016  DISTRICT ATTORNEY-MANHATTAN          ABRAHAM    JONATHAN
4          2016  DISTRICT ATTORNEY-MANHATTAN           ABRAMS      JOSEPH
5          2016  DISTRICT ATTORNEY-MANHATTAN            ABREU    JENNIFER
6          2016  DISTRICT ATTORNEY-MANHATTAN            ABREU        JUAN
7          2016  DISTRICT ATTORNEY-MANHATTAN          ACEVEDO    JENNIFER
8          2016  DISTRICT ATTORNEY-MANHATTAN         ACOCELLA     MATTHEW
9          2016  DISTRICT ATTORNEY-MANHATTAN           ACOSTA        RITA
10         2016  DISTRICT ATTORNEY-MANHATTAN            ADAMS   KATHERINE
11         2016  DISTRICT ATTORNEY-MANHATTAN            ADAMS    NEERESHA
12         2016  DISTRICT ATTORNEY-MANHATTAN         ADEGBORO  OYINDAMOLA
13         2016  DISTRICT ATTORNEY-MANHATTAN         AGGARWAL    SANCHITA
14         2016  DISTRICT ATTORNEY-MANHATTAN          AGUILAR      YAMIRA
15         2016  DISTRICT ATTORNEY-MANHATTAN          AGUIRRE      JORDAN
16         2016  DISTRICT ATTORNEY-MANHATTAN          AHMETAJ     ARTEMIS
17         2016  DISTRICT ATTORNEY-MANHATTAN              AHN       HELEN
18         2016  DISTRICT ATTORNEY-MANHATTAN          ALCAIDE      SANDRA
19         2016  DISTRICT ATTORNEY-MANHATTAN        ALCANTARA      DANIEL
20         2016  DISTRICT ATTORNEY-MANHATTAN        ALEXANDER        ERIN
21         2016  DISTRICT ATTORNEY-MANHATTAN           ALFLEN        PAUL
22         2016  DISTRICT ATTORNEY-MANHATTAN              ALI   SHEHARYAR
23         2016  DISTRICT ATTORNEY-MANHATTAN              ALI       SYEED
24         2016  DISTRICT ATTORNEY-MANHATTAN     AL-KAABAH II     JEFFREY

   Mid Init Agency Start Date Work Location Borough  \
0         E        07/14/2003         MANHATTAN
1       NaN        06/12/1995         MANHATTAN
2         L        10/11/2011         MANHATTAN
3         J        12/01/2014         MANHATTAN
4       NaN        05/21/2015         MANHATTAN
5       NaN        09/04/2012         MANHATTAN
6         D        09/04/2007         MANHATTAN
7       NaN        06/06/2016         MANHATTAN
8         J        09/02/2014         MANHATTAN
9         E        05/31/1978         MANHATTAN
10        J        04/22/2013         MANHATTAN
11      NaN        08/25/2014         MANHATTAN
12        F        01/13/2014         MANHATTAN
13        J        03/28/2005         MANHATTAN
14      NaN        11/09/2009         MANHATTAN
15      NaN        05/21/2015         MANHATTAN
16      NaN        04/28/2014         MANHATTAN
17        H        09/07/2004         MANHATTAN
18      NaN        05/21/2015         MANHATTAN
19      NaN        01/19/2007         MANHATTAN
20        L        09/02/2014         MANHATTAN
21        R        09/21/2008         MANHATTAN
22      NaN        06/06/2016         MANHATTAN
23        A        03/02/2009         MANHATTAN
24        I        06/08/2015         MANHATTAN

                                    Title Description  \
0   COMMUNITY ASSOCIATE                           ...
1   ADMINISTRATIVE ACCOUNTANT                     ...
2   COMMUNITY ASSOCIATE                           ...
3   COMPUTER SYSTEMS MANAGER                      ...
4   COLLEGE AIDE                                  ...
5   ASSISTANT DISTRICT ATTORNEY                   ...
6   ASSISTANT DISTRICT ATTORNEY                   ...
7   COLLEGE AIDE                                  ...
8   COMMUNITY ASSOCIATE                           ...
9              PRINCIPAL ADMINISTRATIVE ASSOCIATE
10  COMMUNITY ASSOCIATE                           ...
11  COMMUNITY ASSOCIATE                           ...
12  COMMUNITY COORDINATOR                         ...
13  PRINCIPAL ACCOUNTANT INVESTIGATOR             ...
14  COMMUNITY ASSOCIATE                           ...
15  COLLEGE AIDE                                  ...
16  COMMUNITY ASSISTANT                           ...
17  ASSISTANT DISTRICT ATTORNEY                   ...
18  COLLEGE AIDE                                  ...
19  COMMUNITY ASSOCIATE                           ...
20  ASSISTANT DISTRICT ATTORNEY                   ...
21  CARPENTER                                     ...
22  COLLEGE AIDE                                  ...
23  ELECTRICIAN'S HELPER                          ...
24  COMMUNITY ASSOCIATE                           ...

   Leave Status as of June 30 Base Salary   Pay Basis  Regular Hours  \
0                      ACTIVE   $47678.00   per Annum        1830.00
1                      ACTIVE  $119959.00   per Annum        1831.00
2                    ON LEAVE   $39966.00   per Annum        1181.68
3                      ACTIVE  $116000.00   per Annum        1831.00
4                      CEASED       $1.00    per Hour           0.00
5                      ACTIVE   $71500.00   per Annum        1831.00
6                      ACTIVE   $88000.00   per Annum        1831.00
7                      ACTIVE       $1.00    per Hour           0.00
8                      CEASED   $41000.00   per Annum         349.00
9                      ACTIVE   $66035.00   per Annum        1830.00
10                     CEASED   $38869.00   per Annum         200.70
11                     ACTIVE   $42075.00   per Annum        1830.00
12                     ACTIVE   $66625.00   per Annum        1830.00
13                     ACTIVE  $112592.00   per Annum        1831.00
14                     ACTIVE   $52548.00   per Annum        1830.00
15                     CEASED       $1.00    per Hour           0.00
16                     ACTIVE   $43299.00   per Annum        1830.00
17                     ACTIVE  $102500.00   per Annum        1076.00
18                     CEASED       $1.00    per Hour           0.00
19                     ACTIVE   $40299.00   per Annum        1830.00
20                     ACTIVE   $78000.00   per Annum        1509.00
21                     ACTIVE     $370.16     per Day        1830.00
22                     ACTIVE       $1.00    per Hour           0.00
23                     ACTIVE     $217.70     per Day        1830.00
24                     ACTIVE   $53366.00   per Annum        1829.75

   Regular Gross Paid  OT Hours Total OT Paid Total Other Pay
0           $47166.03      2.25        $57.28           $0.00
1          $119042.50      0.00         $0.00           $0.00
2           $27452.62      1.00        $21.34          $33.00
3          $115104.57      0.00         $0.00           $0.00
4            $3500.00      0.00         $0.00           $0.00
5           $71967.34      0.00         $0.00           $0.00
6           $87614.01      0.00         $0.00         $750.00
7             $500.00      0.00         $0.00           $0.00
8            $9507.15      0.00         $0.00           $0.00
9           $64357.12      0.00         $0.00        $3824.72
10           $6073.13      0.00         $0.00           $8.25
11          $39895.79      0.00         $0.00          $74.25
12          $65909.63      0.00         $0.00          $33.00
13         $111806.82      0.00         $0.00         $500.00
14          $51890.77    716.25     $25943.55         $747.93
15           $3500.00      0.00         $0.00           $0.00
16          $40052.01     51.75      $1413.40         $526.11
17          $59023.02      0.00         $0.00           $0.00
18           $3500.00      0.00         $0.00           $0.00
19          $39866.21      0.00         $0.00           $0.00
20          $64498.36      0.00         $0.00        $1750.00
21         $139072.14    408.75     $50546.28        $5060.37
22           $1000.00      0.00         $0.00           $0.00
23          $56602.00    173.75      $8991.82        $7424.72
24          $46271.84    276.50      $7757.06         $755.84

The shape of original records is:  (2194488, 16)
The shape with the duplicated dropped is:  (2194475, 16)

In [3]:


# Sort the dataframe based on Fiscal Year
dropdup_df.loc[:,'Last Name'] = dropdup_df['Last Name'].str.strip()
sort_df = dropdup_df.sort_values(by=['Fiscal Year','Last Name'],ascending=[True,True])
print('\nThe last 25 records after sorting data by fiscal year and last name:\n',sort_df.tail(25)[sort_df.columns[:5]])

C:\Users\Tara\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

The last 25 records after sorting data by fiscal year and last name:
          Fiscal Year                     Agency Name Last Name First Name  \
2131205         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131210         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131216         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131224         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131228         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131261         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131266         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131277         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131285         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131297         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131307         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131336         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131346         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131369         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131397         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131398         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131401         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131410         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131426         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131490         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131491         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131514         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131517         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131540         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN
2131542         2017  DISTRICT ATTORNEY QNS COUNTY         NaN        NaN

        Mid Init
2131205      NaN
2131210      NaN
2131216      NaN
2131224      NaN
2131228      NaN
2131261      NaN
2131266      NaN
2131277      NaN
2131285      NaN
2131297      NaN
2131307      NaN
2131336      NaN
2131346      NaN
2131369      NaN
2131397      NaN
2131398      NaN
2131401      NaN
2131410      NaN
2131426      NaN
2131490      NaN
2131491      NaN
2131514      NaN
2131517      NaN
2131540      NaN
2131542      NaN

In [4]:


# Convert a string column (Base Salary) to numeric/float
dropdup_df.loc[:,'Base Salary'] = dropdup_df['Base Salary'].str.extract('(\d+\.\d+)', expand=False).astype(float)
print('\nThe records after converting base salary to numeric are:\n',dropdup_df[['Last Name','Base Salary']].head(25))

The records after converting base salary to numeric are:
        Last Name  Base Salary
0      ABA'AHMID     47678.00
1        ABENSUR    119959.00
2      ABOUNAOUM     39966.00
3        ABRAHAM    116000.00
4         ABRAMS         1.00
5          ABREU     71500.00
6          ABREU     88000.00
7        ACEVEDO         1.00
8       ACOCELLA     41000.00
9         ACOSTA     66035.00
10         ADAMS     38869.00
11         ADAMS     42075.00
12      ADEGBORO     66625.00
13      AGGARWAL    112592.00
14       AGUILAR     52548.00
15       AGUIRRE         1.00
16       AHMETAJ     43299.00
17           AHN    102500.00
18       ALCAIDE         1.00
19     ALCANTARA     40299.00
20     ALEXANDER     78000.00
21        ALFLEN       370.16
22           ALI         1.00
23           ALI       217.70
24  AL-KAABAH II     53366.00

C:\Users\Tara\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s